.playerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    padding: 24px;
    box-shadow: 0px 1px 2px grey;
    border-radius: 16px;
    background: white;
    transition: box-shadow 0.3s ease-in-out;
}

.playerContainer:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.image {
    width: 200px;
    height: 200px;
    transition: opacity 0.2s ease-in-out;
}

.name, .score {
    align-self: center;
    font-size: 18px;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.disabled.playerContainer:hover {
    box-shadow: 0 1px 2px grey;
}

.winnerSelected {
    opacity: .2;
}

.winnerIcon {
    opacity: 1;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}